<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" class="img-responsive" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="~/images/nav.png" /></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1 mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Customer" asp-action="ViewWorld">World</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="About">About Us</a>
                </li>
            </ul>

            <ul class="navbar-nav flex-grow-1 ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/Home/Login">Login</a>
                </li>
                <li class="navbar-text">
                    <a> | </a>
                </li>
                <!--To be changed once home is created-->
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/Home/Register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>