@{
    ViewData["Title"] = "About us";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div class="col-sm-12 padding-rmv">
        <img src="~/images/loginbg.jpeg" class="img-fluid w-100" />
        <div class="container" id="mainContainer">

            <div class="flex-container">
                <h1 class="bottom-left">About Us</h1>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid" style="margin: 100px 0px 100px 0px">
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <h6>
                    Here at Lion City Airlines, we are focused on you - the customer. <br/><br />
                    We heavily prioritise on being a customer-oriented business and will stop at nothing to provide you with the best experience we can offer.
                    There is nothing more important to us than the customer experience, because we believe that customers are what makes a business work.<br /><br />
                    Without you as our customer, we would not be able to be where we are today.<br /><br />
                    We are deeply grateful to all our customers for buying from us, and we will always strive to give you the best time you can get off the ground.
                </h6>
            </div>
        </div>
    </div>
</body>