@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .sqBtn {
            background-color: #f0f0f0;
            border-radius: 20px;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="row justify-content-center m-5">
        <h1>Welcome, @ViewData["name"]</h1>
    </div>
    <div class="row justify-content-center p-auto" style="margin: 100px 0px 100px 0px">

        <div class="col-lg-3 col-md-4 my-4 text-center">
            <a class="text-center btn sqBtn p-3" asp-controller="Staff" asp-action="FlightSchedule">
                <!--Icon here-->
                <img src="~/images/FlightIcon.png" style="max-height: 180px;" />
                <!--Text here-->
                <h6 class="text-center mt-3">Flight Scheduling</h6>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 my-4 text-center">
            <a class="text-center btn sqBtn p-3" asp-controller="Staff" asp-action="ViewAllPersonnelAndFlightAssigned">
                <!--Icon here-->
                <img src="~/images/personnel.png" style="        max-height: 180px;
" />
                <!--Text here-->
                <h6 class="text-center mt-3">Flight Personnel Assignment</h6>
            </a>
        </div>
    </div>
</div>