@model WEB_Assignment.Models.updatePasswordViewModel

@{
    ViewData["Title"] = "update password";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div class="col-sm-12 padding-rmv">
        <img src="~/images/loginbg.jpeg" class="img-fluid w-100" />
        <div class="container" id="mainContainer">

            <div class="flex-container">
                <h1 class="bottom-left">Change Password</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr />
        <div class="container">
            <form asp-action="updatePassword" method="post">
                <fieldset class="FormContent">
                    <div class="row">
                        <div class="col-md-7">
                            <div asp-validation-summary="ModelOnly" class="text-danger" />
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="oldPassword" class="font-weight-bold control-label"></label>
                                    <input asp-for="oldPassword" class="form-control" />
                                    <span asp-validation-for="oldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="newPassword" class="font-weight-bold control-label"></label>
                                    <input asp-for="newPassword" class="form-control" />
                                    <span asp-validation-for="newPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="confirmNewPassword" class="font-weight-bold control-label"></label>
                                    <input asp-for="confirmNewPassword" class="form-control" />
                                    <span asp-validation-for="confirmNewPassword" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-7 col-lg-7">
                                        <span class="text-danger">@Html.ValidationMessage("passwordUpdateError")</span>
                                    </div>
                                    <div class="col-md-7 col-lg-7 mt-lg-3">
                                        <button type="submit" class="btn btn-primary btn-block" value="Change Password">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}